@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: "Sora", sans-serif;
	background-color: rgb(235, 251, 235);
}

@layer base {
	html {
		font-family: "Sora", sans-serif;
	}
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
